* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;  
}

.date{
  text-align: center;
  color: #1266f1;
}

.deleteButton{
  color: red;
  /* align-items: right; */
  float: right;
}
.checkButton{
  /* color: blue; */
  padding-left: 10px;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  width: 500px;
}

.label{
  text-decoration: line-through;
}

.sum{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.title{
  margin-left: 1rem;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

.ul{
  display: flex;
  margin: 25px;
}

.item{
  display: felx;
}

li {
  margin: 0 1rem;
}
